.butradio {
  height: 100px;
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.butradio span{
    height: 15px;
    width: 15px;
    border: 1px solid rgba(177, 172, 172, 0.43);
    border-radius: 50%;
    margin: 0px 5px;
    background: rgba(255, 238, 221, 0.437);
    transition: 0.3s;
}
.butradio span:hover{
    background: rgb(181, 235, 235);
    transform: scale(1.3);
}
.storecontain .owl-stage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 80px;
}

.owl-item.cloned{
    border: 1px solid rgb(232, 228, 228);
    border-radius: 20px;
    box-shadow:  2px 4px 5px 2px  rgba(106, 105, 105, 0.526);
    padding: 10px 10px;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}
.owl-item.cloned:hover{
     transform: scale(0.9);
}
.owl-item{
    margin: 10px 0;
    border: 1px solid rgb(232, 228, 228);
    border-radius: 20px;
    box-shadow:  2px 4px 5px 2px  rgba(106, 105, 105, 0.526);
    padding: 10px 10px;
    justify-content: center;
    text-align: center; 
    transition: 0.3s;
}
.owl-item:hover{
    transform: scale(0.9);
}